.page-header{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
    background-color: #007bff;
    color: #fff;
}

.page-header .user{
    width: 50%;
    display: flex;
    align-items: center;
    padding: 10px;
}

.header-profile-container {
  position: relative;
  display: flex;
  padding: 0 10px;
}

.user-profile {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.profile-dropdown {
  position: absolute;
  right: 0;
  top: 35px;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 5px;
  width: 120px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
  z-index: 100;
}

.profile-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile-dropdown li {
  padding: 10px;
  cursor: pointer;
  display: flex;
}